<!DOCTYPE html>
<html lang="en">
  <% include ./partials/head %>
  <body>
    <% include ./partials/navbar %>
    <div class="px-3">
      <section>
        <!-- Project -->
        <div class="card px-3 py-3">
          <table
            class="table is-fullwidth has-text-centered"
            id="projects-table"
          >
            <thead>
              <tr>
                <th>ID</th>
                <th>이름</th>
                <th>소유자</th>
                <th>액션</th>
              </tr>
            </thead>
            <tbody class="is-vcentered">
              <tr>
                <td>AB123123</td>
                <td>The Experiment 1</td>
                <td>정시원(test@monet.com)</td>
                <td>
                  <a href="" class="button is-info is-small is-centered">
                    <i class="fa fa-edit mr-1"></i>수정
                  </a>
                  <a href="" class="button  is-small is-centered is-danger">
                    <i class="fa fa-minus-circle mr-1"></i>삭제
                  </a>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <a href="/admin/experiment" class="button is-primary is-pulled-right mr-2 mb-6">
                새로운 실험
              </a>
            </tfoot>
          </table>
        </div>
      </section>
    </div>
  </body>
  <script></script>
</html>
