.wrap-all {
  width: 100%;
  background: linear-gradient(#06beb6, #48b1bf);
}

.section-1 {
  width: 100%;
  min-height: 750px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3rem;
}

.list-content-header {
  width: 85%;
  margin-bottom: 0;
  height: 5rem;
}

.list-content-header > h2 > span {
  color: #fff;
}

.list-content-header * {
  color: #fff;
}

.test-container {
  /* background: #fff; */
  width: 100%;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.screen {
  width: 100%;
  border: 1px dotted rgba(0, 0, 0, 0.08);
  min-height: 40rem;
  /* margin-top: 2rem; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.instruction {
  margin-top: 2rem;
  font-size: 0.9rem;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1024px) {
}

@media screen and (max-width: 1024px) {
  .wrap-all {
    overflow: hidden;
    width: 100%;
    background: linear-gradient(#06beb6, #48b1bf);
  }
  .section-1 {
    width: 100%;
    min-height: 30rem;
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .list-content-header {
    width: 85%;
    margin-bottom: 0;
    margin-top: 1rem;
    height: 3rem;
  }
  .test-container {
    width: 96%;
    min-height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 2rem;
  }
  .screen {
    width: 100%;
    border: 1px dotted rgba(0, 0, 0, 0.08);
    min-height: 20rem;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
}

@media screen and (max-width: 768px) {
}
