<!DOCTYPE html>
<html lang="ko">
  <% include ../partials/head %>
  <link rel="stylesheet" href="/css/initial.css" />

  <body>
    <div class="wrap-all">
      <% include ../partials/header %>
      <section class="section section-1">
        <!-- <div class="image">
          <img src="../images/main.png" alt="island" />
        </div>

        <div class="instruction">
          <p class="title">Summer Island</p>
          <p class="text">
            아름답던 OO섬이 ~~ 후로 모두 안개로 뒤덮였어요. 아름다웠던 우리 섬으로 돌아가 섬 주민들이 다시 행복할 수 있게 도와주세요.아름답던 OO섬이 ~~ 후로 모두 안개로 뒤덮였어요. 아름다웠던 우리 섬으로 돌아가 섬 주민들이 다시 행복할 수 있게 도와주세요.아름답던 OO섬이 ~~ 후로 모두 안개로 뒤덮였어요. 아름다웠던 우리 섬으로 돌아가 섬 주민들이 다시 행복할 수 있게 도와주세요.아름답던 OO섬이 ~~ 후로 모두 안개로 뒤덮였어요. 아름다웠던 우리 섬으로 돌아가 섬 주민들이 다시 행복할 수 있게 도와주세요.
          </p>
          <a href="project.html"><button class="btn">도와주기</button></a>
        </div> -->
      </section>
      <% include ../partials/footer %>
    </div>
    <!-- script jquery link -->
    <script src="../js/basic.js"></script>
  </body>
</html>
