<!DOCTYPE html>
<html lang="ko">
  <% include ../partials/head %>
  <body>
    <div class="wrap-all"><% include ../partials/header %> <%- html %> <% include ../partials/footer %></div>
  </body>
</html>
