<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MoNET</title>

    <!-- jquery -->
    <script src="../js/jquery.min.js"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" href="../vendor/bootstrap/css/bootstrap.min.css">
    <!-- Custom fonts -->
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../vendor/simple-line-icons/css/simple-line-icons.css">
    <!-- chart.js -->
    <script src="../js/chart.min.js"></script>
    <!-- 기본 css -->
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/basic.css" />
    <link rel="stylesheet" href="../css/sub-basic.css" />
    <link rel="stylesheet" href="../css/common.css" />
    <!-- page css -->
    <link rel="stylesheet" href="../css/result.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha512-xA6Hp6oezhjd6LiLZynuukm80f8BoZ3OpcEYaqKoCV3HKQDrYjDE1Gu8ocxgxoXmwmSzM4iqPvCsOkQNiu41GA==" crossorigin="anonymous" />
</head>

<body>
    <div class="wrap-all wrap-all-list">
        <header class="main-header">
            <div class="logo">
                <h1><a href="/">MoNET <span class="name">WeBrain</span></a></h1>
            </div>
            <a class="mobile-only mobile-menu-trigger">
                <i class="fas fa-bars"></i>
            </a>
            <nav class="menu-wrap">
                <ul class="sub-menu">
                    <li><a href="/pages/login.html">Login</a></li>
                    <li><a href="#">Join</a></li>
                </ul>
                <ul class="main-menu">
                    <li><a href="/pages/list.html">실험참여</a>
                        <ul class="main-menu-child">
                            <li><a href="/pages/list.html">참여한실험</a></li>
                            <li><a href="/pages/list.html">실험소개</a></li>
                        </ul>
                    </li>
                    <li><a href="/pages/result.html">결과화면</a>
                        <ul class="main-menu-child">
                            <li><a href="/pages/result.html">개인결과샘플</a></li>
                            <li><a href="/pages/result-private.html">모든결과샘플</a></li>
                        </ul>
                    </li>
                    <li><a href="#">리워드</a>
                        <ul class="main-menu-child">
                            <li><a href="#">서브1</a></li>
                            <li><a href="#">서브2</a></li>
                        </ul>
                    </li>
                    <li><a href="#">마이페이지</a>
                        <ul class="main-menu-child">
                            <li><a href="#">서브1</a></li>
                            <li><a href="#">서브2</a></li>
                            <li><a href="#">서브3</a></li>
                            <li><a href="#">서브4</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>
        <section class="list-content-section">
            <!-- <div class="list-content-header">
                <h2><span>MoNET</span>Result</h2>
                <ul class="list-content-header-ul">
                    <li class="list-content-header-item">
                        <a href="/pages/list.html" class="to-the-list">목록으로</a>
                    </li>
                </ul>
            </div> -->
            <div class="list-content-container">
                <!-- <h3 class="result-info-wrap-title">참여자정보</h3>
                <div class="result-info-wrap">
                    <table>
                        <tr>
                            <td class="title">점수</td>
                            <td class="content">brownljw</td>
                        </tr>
                        </tr>
                        <tr>
                            <td class="title">리워드</td>
                            <td class="content">Day 1</td>
                        </tr>
                        <tr>
                            <td class="title">순위</td>
                            <td class="content"><span class="total-applicant">13</span>명중 <span class="rank">1</span>위</td>
                        </tr>
                    </table>
                </div> -->
                <div class="result-detail-wrap">

                    <div class="list1">

                        <div class="profile">
                            <div class="profile-image">
                                <img src="https://placeimg.com/100/100/any" alt="user" />
                            </div>
                            <div class="profile-name">
                                유크림
                            </div>
                        </div>
                        <ul class="brief">
                            <li>
                                <span class="title">Day4</span>
                                <span class="label">진도</span>
                            </li>
                            <li>
                                <span class="title">35%</span>
                                <span class="label">진행률</span>
                            </li>
                        </ul>
                        <div class="graph">
                            <!-- graph는 js / result.js 에 들어있음-->
                            <div class="graph-wrap">
                                <canvas id="myChart"></canvas>
                            </div>
                            <p><span class="user">유크림</span>님의 <span class="material">xxx</span>은 WeBrain을 사용하는 친구들 중 상위 <span class="percentage">1%</span>입니다</p>
                        </div>
                    </div>
                    <div class="list2">

                        <div class="progress-info">
                            <p>가장잘한 DAY <span>35%</span></p>
                        </div>

                        <ul class="progress-wrap">
                            <li>
                                <p>Day 1</p>
                                <div class="progress">

                                    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                                </div>
                            </li>
                            <li>
                                <p>Day 2</p>
                                <div class="progress">

                                    <div class="progress-bar  bg-success" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
                                </div>
                            </li>
                            <li>
                                <p>Day 3</p>
                                <div class="progress">

                                    <div class="progress-bar bg-warning" role="progressbar" style="width: 13%;" aria-valuenow="13" aria-valuemin="0" aria-valuemax="100">13%</div>
                                </div>
                            </li>
                            <li>
                                <p>Day 4</p>
                                <div class="progress">

                                    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                                </div>
                            </li>
                            <li>
                                <p>Day 5</p>
                                <div class="progress">

                                    <div class="progress-bar" role="progressbar" style="width: 21%;" aria-valuenow="21" aria-valuemin="0" aria-valuemax="100">21%</div>
                                </div>
                            </li>
                        </ul>
                    </div>


                </div>
                <!-- <div class="button-wrap">
                    <a href="#"><button class="btn"> <i class="fa fa-play"></i>다른게임 하러가기</button></a>
                </div> -->

            </div>
        </section>
        <script src="../js/basic.js" defer></script>
        <script src="../js/result.js" defer></script>
    </div>
</body>

</html>