<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MoNET</title>

    <!-- jquery -->
    <script src="../js/jquery.min.js"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" href="../vendor/bootstrap/css/bootstrap.min.css" />
    <!-- Custom fonts -->
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../vendor/simple-line-icons/css/simple-line-icons.css" />
    <!-- 기본 css -->
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/basic.css" />
    <link rel="stylesheet" href="../css/sub-basic.css" />
    <link rel="stylesheet" href="../css/common.css" />
    <!-- page css -->
    <link rel="stylesheet" href="../css/try.css" />
  </head>

  <body>
    <div class="wrap-all wrap-all-list">
      <header class="main-header">
        <div class="logo">
          <h1>
            <a href="/">MoNET <span class="name">WeBrain</span></a>
          </h1>
        </div>
        <a class="mobile-only mobile-menu-trigger">
          <i class="fas fa-bars"></i>
        </a>
        <nav class="menu-wrap">
          <ul class="sub-menu">
            <li><a href="/pages/login.html">Login</a></li>
            <li><a href="#">Join</a></li>
          </ul>
          <ul class="main-menu">
            <li>
              <a href="/pages/list.html">실험참여</a>
              <ul class="main-menu-child">
                <li><a href="/pages/list.html">참여한실험</a></li>
                <li><a href="/pages/list.html">실험소개</a></li>
              </ul>
            </li>
            <li>
              <a href="/pages/result.html">결과화면</a>
              <ul class="main-menu-child">
                <li><a href="/pages/result.html">개인결과샘플</a></li>
                <li><a href="/pages/result-private.html">모든결과샘플</a></li>
              </ul>
            </li>
            <li>
              <a href="#">리워드</a>
              <ul class="main-menu-child">
                <li><a href="#">서브1</a></li>
                <li><a href="#">서브2</a></li>
              </ul>
            </li>
            <li>
              <a href="#">마이페이지</a>
              <ul class="main-menu-child">
                <li><a href="#">서브1</a></li>
                <li><a href="#">서브2</a></li>
                <li><a href="#">서브3</a></li>
                <li><a href="#">서브4</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </header>
      <section class="section section-1">
        <!-- <div class="list-content-header">
                <h2><span>MoNET</span>Test</h2>
            </div> -->
        <div class="test-container">
          <div class="screen">
            <!-- 실험 프로그램 스크린-->
          </div>
          <div class="instruction">
            당근이 나타났던 위치를 순서와 상관없이 클릭하세요!
          </div>
        </div>
      </section>
      <!-- login contents end -->
      <footer class="main-footer">
        <div class="info">
          <a href="#">연세대학교</a>
          <a href="tel:020000000">T 02. 000. 0000 </a>
          <a href="#">F 02. 000. 0000 </a>
          <a href="#">개인정보취급방침</a>
        </div>
        <div class="copy">
          Copyright MoNET. Lab, Yonsei University All Rights Reserved
        </div>
      </footer>
      <!-- page jquery -->
      <script src="../js/basic.js" defer></script>
      <script src="../js/try.js" defer></script>
    </div>
  </body>
</html>
