<!DOCTYPE html>
<html lang="en">
  <% include ../partials/head %>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
  <script language="javascript" type="text/javascript" src="/js/edit_area_full.js"></script>
  <script language="javascript" type="text/javascript">
    editAreaLoader.init({
      id: "code-edit", // textarea id
      syntax: "html", // syntax to be uses for highgliting
      start_highlight: true, // to display with highlight mode on start-up
      allow_toggle: false,
      word_wrap: true,
      font_family: "Roboto",
    })
  </script>
  <style>
    #frame_code-edit {
      width: 100% !important;
      min-height: 400px !important;
    }
  </style>
  <body>
    <% include ../partials/navbar %>
    <div class="px-3 pb-6">
      <div class="container">
        <h1 class="title">홈페이지 수정</h1>
        <form>
          <div class="columns">
            <label for="" class="column is-desktop"> 프로젝트 설명 </label>
          </div>
          <textarea id="code-edit">
<%- html %>
          </textarea>
          <div class="row mt-3">
            <button type="button" id="submit" class="button is-success is-pulled-right">저장하기</button>
          </div>
        </form>
        <script>
          $("#submit").on("click", (event) => {
            event.preventDefault()
            const data = editAreaLoader.getValue("code-edit")
            $.ajax({
              method: "POST",
              url: "/api/process/edit-home",
              data: {
                html: data,
              },
            })
            window.location.reload()
          })
        </script>
      </div>
    </div>
  </body>
</html>
