<!DOCTYPE html>
<html lang="en">
  <% include ../partials/head %>
  <body>
    <% include ../partials/navbar %>
    <div class="px-3 pb-6">
      <div class="container">
        <h1 class="title">프로젝트 생성</h1>
        <form action="/admin/projects" method="POST">
          <div class="columns">
            <label for="name" class="column">
              프로젝트명
              <input type="text" class="input" name="name" id="" />
            </label>
          </div>
          <div class="columns">
            <label for="" class="column is-desktop">
              프로젝트 설명
              <textarea name="description" class="textarea"></textarea>
            </label>
          </div>
          <div class="columns">
            <label for="" class="column is-desktop">
              연구 동의서
              <textarea name="agreement" class="textarea"></textarea>
            </label>
          </div>
          <div class="content">
            <p>프로젝트를 생성한 후, <code>프로젝트 수정 페이지</code>에서 실험을 추가하세요.</p>
          </div>
          <div class="row mt-3">
            <button type="submit" class="button is-success is-pulled-right">저장하기</button>
          </div>
        </form>
      </div>
    </div>
  </body>
  <script>
    $(document).ready(() => {})
  </script>
</html>
