<!DOCTYPE html>
<html lang="en">
  <% include ../partials/head %>
  <body>
    <% include ../partials/navbar %>
    <div class="px-3">
      <section>
        <!-- Project -->
        <div class="card px-3 py-3">
          <table
            class="table is-fullwidth has-text-centered"
            id="projects-table"
          >
            <thead>
              <tr>
                <th>프로젝트</th>
                <th>참여자</th>
                <th>실험</th>
                <th>참여일시</th>
                <th>결과파일(json)</th>
              </tr>
            </thead>
            <tbody class="is-vcentered">
              <tr>
                <td>AB123123</td>
                <td>정시원(test@monet.com)</td>
                <td>테스트 1</td>
                <td>2020.03.05</td>
                <td>
                  <a class="button is-primary is-small is-centered">
                    <i class="fa fa-download mr-1"></i>다운로드
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </div>
  </body>
  <script></script>
</html>
