<footer class="main-footer">
  <div class="info">
    <a href="#">연세대학교</a>
    <a href="tel:020000000">T 02. 000. 0000 </a>
    <a href="#">F 02. 000. 0000 </a>
    <a href="#">개인정보취급방침</a>
  </div>
  <div class="copy">
    Copyright MoNET. Lab, Yonsei University All Rights Reserved
  </div>
</footer>
