<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>MoNET</title>

  <!-- jquery -->
  <script src="../js/jquery.min.js"></script>
  <script src="../js/global.js"></script>
  <!-- bootstrap -->
  <link rel="stylesheet" href="../vendor/bootstrap/css/bootstrap.min.css" />
  <!-- Custom fonts -->
  <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />
  <link
    rel="stylesheet"
    href="../vendor/simple-line-icons/css/simple-line-icons.css"
  />
  <!-- 기본 css -->
  <link rel="stylesheet" href="../css/reset.css" />
  <link rel="stylesheet" href="../css/basic.css" />
  <link rel="stylesheet" href="../css/sub-basic.css" />
  <link rel="stylesheet" href="../css/common.css" />
  <!-- page css -->
</head>
