<header class="main-header">
  <div class="logo">
    <h1>
      <a href="/">MoNET <span class="name">WeBrain</span></a>
    </h1>
  </div>
  <a class="mobile-only mobile-menu-trigger">
    <i class="fas fa-bars"></i>
  </a>
  <nav class="menu-wrap">
    <ul class="sub-menu">
      <% if (loggedInUser) { %>
      <li style="font-size: 1rem; font-weight: 300; color: white"><%- loggedInUser ? loggedInUser.name : null %>님 반갑습니다.</li>
      <% } %>
      <li>
        <% if (loggedInUser) { %>
        <a style="font-size: 1rem; font-weight: 300" href="/main/logout">로그아웃</a>
        <% } else { %>
        <a style="font-size: 1rem; font-weight: 300" href="/main/login">로그인</a>
        <% } %>
      </li>
    </ul>
    <ul class="main-menu">
      <li>
        <a href="/main/games">실험참여</a>
      </li>
      <% if (loggedInUser) { %> <% if (loggedInUser.level >= 100) { %>
      <li>
        <a href="/admin">관리자 페이지로 이동</a>
      </li>
      <% } %> <% } %>
    </ul>
  </nav>
</header>
