<nav class="navbar shadow mb-3" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item">
      <!-- <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28"> -->
      <h1 class="has-text-weight-bold">MONET Webrain</h1>
    </a>

    <a
      role="button"
      class="navbar-burger burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/admin/projects">프로젝트 </a>
      <a class="navbar-item" href="/admin/experiments"> 실험 </a>
      <a class="navbar-item" href="/admin/users"> 회원 </a>
      <a class="navbar-item" href="/admin/results"> 게임생성/결과 </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <u><%= loggedInUser.name %> </u>님 반갑습니다.
      </div>
      <div class="navbar-item">
        <div class="buttons is-vcentered">
          <a href="/admin/logout" class="button is-primary">
            <strong>로그아웃</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    // Get all "navbar-burger" elements
    const $navbarBurgers = Array.prototype.slice.call(
      document.querySelectorAll(".navbar-burger"),
      0
    );

    // Check if there are any navbar burgers
    if ($navbarBurgers.length > 0) {
      // Add a click event on each of them
      $navbarBurgers.forEach((el) => {
        el.addEventListener("click", () => {
          // Get the target from the "data-target" attribute
          const target = el.dataset.target;
          const $target = document.getElementById(target);

          // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
          el.classList.toggle("is-active");
          $target.classList.toggle("is-active");
        });
      });
    }
  });
</script>
