<% include ../admin/partials/head %>
<section>
  <div class="container">
    <div class="columns">
      <div class="column has-text-centered">
        <h1 class="is-size-5"><%- message %></h1>
      </div>
    </div>
  </div>
</section>
